{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<div class="csc-serviciosGrid">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {# DATOS SIN PROCESAR #}
  {# {% set precio_extras = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_precio }}'] %} #}
  {% set tecnologia = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_tecnologia }}'] %}
  {% set velocidad = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_velocidad_en_mb }}'] %}
  {% set precioeur = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_precio_euros_mes }}'] %}

  <div class="csc-tipoServicio">
    {{ tecnologia }} {{ velocidad }}MB
  </div>
  <div class="csc-precioServicio">
    {{ precioeur }} €/mes
  </div>

{% endfor %}

  {# Crear aqui funcion de obtener terminos de URL #}
  {% set urlparams = getURLParams() %}
  {% for param in urlparams %}
    <div class="testing">{{ param }}</div>
  {% endfor %}
</div>

<div class="priceTotal-row">
  <div class="csc-mensualServicio">
    CUOTA MENSUAL
  </div>
  <div class="csc-precioFinalServicio">
	  22
  </div>
</div>