{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<div class="ps-title-h3">
<h3>Escoja un icono para su invernadero</h3>
</div>

{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  
  {% set svg = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_svg_generico }}'] %}
  {% set nid = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ nid }}']|striptags|trim %}
  
  <div{{ row.attributes.addClass(row_classes) }}>
		<div class="ps-icono">
			<a href="/node/add/invernaderos?edit[field_icono_invernadero][widget][0][target_id]={{ nid }}&edit[field_usuarios_invernadero][widget][0][target_id]={{ usuario }}">{{ svg }}</a>
		</div>
  </div>
  
{% endfor %}