{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}


{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}

  {% set realHumedad = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_humedad }}']|striptags|trim %}
  {% set maxHumedad = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_maximo }}']|striptags|trim %}
  {% set minHumedad = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_minimo }}']|striptags|trim %}
  {% set claseHumedad = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ nothing }}']|striptags|trim|lower %}
  
  {% set realLuminico = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_luminico }}']|striptags|trim %}
  {% set maxLuminico = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_maximo_1 }}']|striptags|trim %}
  {% set minLuminico = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_minimo_1 }}']|striptags|trim %}
  {% set claseLuminico = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ nothing_1 }}']|striptags|trim|lower %}
  
  {% set realSolar = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_solar }}']|striptags|trim %}
  {% set maxSolar = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_maximo_2 }}']|striptags|trim %}
  {% set minSolar = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_minimo_2 }}']|striptags|trim %}
  {% set claseSolar = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ nothing_2 }}']|striptags|trim|lower %}
  
  {% set realTermico = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_termico }}']|striptags|trim %}
  {% set maxTermico = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_maximo_3 }}']|striptags|trim %}
  {% set minTermico = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_minimo_3 }}']|striptags|trim %}
  {% set claseTermico = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ nothing_3 }}']|striptags|trim|lower %}

  {% set idCultivo = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_id_cultivo }}']|striptags|trim|lower %}
  
  {% if realHumedad >= minHumedad and realHumedad <= maxHumedad %}
    {% set resultHumedad = "Correcto" %}
  {% else %}
    {% set resultHumedad = "Incorrecto" %}
  {% endif %}

  {% if realLuminico >= minLuminico and realLuminico <= maxLuminico %}
    {% set resultLuminico = "Correcto" %}
  {% else %}
    {% set resultLuminico = "Incorrecto" %}
  {% endif %}

  {% if realSolar >= minSolar and realSolar <= maxSolar %}
    {% set resultSolar = "Correcto" %}
  {% else %}
    {% set resultSolar = "Incorrecto" %}
  {% endif %}

  {% if realTermico >= minTermico and realTermico <= maxTermico %}
    {% set resultTermico = "Correcto" %}
  {% else %}
    {% set resultTermico = "Incorrecto" %}
  {% endif %}

  <div{{ row.attributes.addClass(row_classes) }}>
		<div class="{{ claseHumedad }}">
			Humedad {ICONO} - <a href="/resultado-graficos-humedad?cultivo={{ idCultivo }}">{{ resultHumedad }}</a>
		</div>
		<div class="{{ claseLuminico }}">
			Lumínico {ICONO} - <a href="/resultado-graficos-luminico?cultivo={{ idCultivo }}">{{ resultLuminico }}</a>
		</div>
    <div class="{{ claseSolar }}">
			Solar {ICONO} - <a href="/resultado-graficos-solar?cultivo={{ idCultivo }}">{{ resultSolar }}</a>
		</div>
    <div class="{{ claseTermico }}">
			Térmico {ICONO} - <a href="/resultado-graficos-termico?cultivo={{ idCultivo }}">{{ resultTermico }}</a>
		</div>
  </div>

{% endfor %}

 